- if @robot.errors.any?
  = render 'errors'

= form_for @robot, role: 'form', class: 'form-horizontal' do |f|
  .form-group#robot_name
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group#robot_job
    = f.label :job, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :job, class: 'form-control'
  .form-group#robot_height
    = f.label :height, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :height, class: 'form-control'
  .form-group#robot_weight
    = f.label :weight, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :weight, class: 'form-control'
  .form-group#robot_color
    = f.label :color, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :color, class: 'form-control'
  .btn.btn_success#robot_submit
    = f.submit

.btn.btn_default#back_link_new= link_to 'Back', robots_path
