!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title ProBot
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    -# = favicon_link_tag 'robot.ico'
    = csrf_meta_tags
    %body
      = render 'navbar'
      - if flash[:success]
        .alert.alert-success= flash[:success]
      .container
        = yield
